{% extends "base.html" %}
{% block content %}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <hr/>
  <h1>Sign In</h1>

  <form action="" method="post" novalidate="novalidate">
    {{form.hidden_tag()}}
    <p>
      {{form.username.label}}<br/>
      {{form.username(size=32)}}
      {% for error in form.username.errors %}
        <span style="color: red">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{form.password.label}}<br/>
      {{form.password(size=32)}}
      {% for error in form.password.errors %}
        <span style="color: red">[{{error}}]</span>
      {% endfor %}
    </p>
    <p>{{form.remember_me()}}
      {{form.remember_me.label}}</p>
    <p>{{form.submit(class_='btn btn-primary')}}</p>
  </form>
  <p>New user?<br>
  <a href="{{url_for('auth.register')}}">Click to Register!</a></p>
  <p><a href="{{url_for('auth.google')}}" >Sign in with google</a></p>
  </p>

  <div id="tweet-container"> this is the tweet container</div>
  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<a id ="tweet-container" class="twitter-share-button"
  href="https://twitter.com/intent/tweet">
Tweet</a>
    <script src="{{url_for('static', filename='script.js')}}"></script>
{% endblock %}
