
body {
  background-color: #faf8ef;
}

/*
* Navbar styling
*/

.navbar {
  background-color: #bbada0;
}

.navbar-brand {
  color: black;
}

.navbar-brand {
  width: 100%;
}
.navbar-nav {
  width: 100%;
}

.nav-title {
  color: #000000;
  text-decoration: none;
}
/*
* Buttons
*/

.btn-primary {
  background-color: #8f7a66;
  border-color: #746354;
}

.btn-primary:disabled{
  background-color: #8f7a66;
  border-color: #746354;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #796756;
  border-color: #796756;
}

.btn-danger {
  background-color: #f56241;
  border: #f56241;
}

.btn-danger:hover {
  background-color: #943b28;
  border: #943b28;
}

.btn-warning {
  background-color: #edcc62;
  border-color: #edcc62;
}

.btn-warning:hover {
  background-color: #ac9549;
  border-color: #ac9549;
}


/*
 * Sign-in page
 */

.akari-infobox {
  background-color: #eee1c9;
  width: 800px;
  padding: 20px;
}
.akari-infobox h1{
  color: #000;
}

.akari-infobox img {
  width: 50%;
  height: max-content;
  border: 5px solid;
  border-radius: 10px;
}

.akari-infobox p {
  margin: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 14pt;
}

/*
 * Game page
 */
#game-container {
  margin-top: 25px;
  width: 725px;
}

.wrong-submit {
  height: 38px;
  width: 63.66px;
  border: 1px solid black;
}

.flex-container {
  padding-inline: 5px;
}

/*
#results-container {
  display: none;
} */

/*
 * Modals
 */

.modal-content {
  background-color: #faf8ef
}

#game-results {
  border-color: black;
}

/*
* Akari Grid Styling
*/
.grid-wrapper{
  display: grid;
  grid-template-columns: repeat(7, 104px);
  text-align: center;
}

.grid-wrapper div {
  height: 100px;
  width: 100px;
  margin-top: 4px;
  border: 2px solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.grid-wrapper img {
  transition: 1s;
  height: 80%;
}

.non-selectable {
  background-color: black;
  color: white;
}

.selected, .lit {
  background-color: #FFE48E;
  transition: 0.5s;
}

/*
 * Grid start overlay
 */

#gameOverlay {
  position: absolute;
  height: 725px;
  width: 725px;
  margin-top: 4px;
  border: 2px solid;
  border-radius: 10px;
  background-color: black;
  opacity: 50%;
}

#grid-box {
  position: absolute;
}

.startButtonContainer {
  position: absolute;
  margin-top: 340px;
}

/*
 * Timer
 */

.timer {
  padding-right: 10px;
  font-family:'Consolas';
  font-size: xx-large;
  font-weight: 700;
}