* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

.header {
  height: 100vh
}
/* header style */
d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom {
  box-shadow: 0 5px 10px;

}
/* Navbar Style */
navbar navbar-expand-lg d-lg-block {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
  z-index: 999;
}



/* 
  Akari Grid Styling
 */

.grid-wrapper{
  display: grid;
  grid-template-columns: repeat(7, 104px);
  text-align: center;
}

.grid-wrapper div {
  height: 100px;
  width: 100px;
  margin-top: 4px;
  border: 2px solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.grid-wrapper img {
  transition: 1s; 
  height: 80%;
}

.non-selectable {
  background-color: black;
  color: white;
}

.selected, .lit {
  background-color: yellow; 
  transition: 0.5s;
}