/* 
  Akari Grid Styling
 */

.grid-wrapper{
  display: grid;
  grid-template-columns: repeat(7, 50px);
  text-align: center;
}

.grid-wrapper div {
  height: 30px;
  width: 50px;
  border: 1px solid;
}

.non-selectable {
  background-color: black;
  color: white;
}