{% extends "base.html" %}

{% block content %}
  <script>
    let user_id = '{{current_user.id}}';
    let username = '{{current_user.username}}'
  </script>

  <!-- Modals-->
  <!-- rules modal-->
  <div class="container">
    <div class="modal fade" id="rules-modal" tabindex="-1" aria-labelledby="rulesModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">Akari Rules</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Place light bulbs (circles) according to the following rules:
            <ol>
              <li>Light bulbs may be placed in any of the white squares, the number in black squares show how many light bulbs are next to it, vertically and horizontally.</li>
              <li>Each light bulb illuminates from bulb to black square or outer frame in its row and column.</li>
              <li>Every white square must be illuminated and a light bulb can not illuminate another light bulb.</li>
            </ol>
          </div>

          <div class="modal-footer">
            <sub>rules from https://www.nikoli.co.jp/en/puzzles/akari/</sub>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- statistics modal-->
  <div class="container">
    <div class="modal fade" id="statistics-modal" tabindex="-1" aria-labelledby="statisticsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="ModalLabel">User Statistics</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h4>Hello
              {{current_user.username}}! Here are you current stats:</h4>
            <ul>
              <li>Games Played:
                <span id="numGamesPlaceholder"></span></li>
              <li>Average solve time:
                <span id="avgSolveTimePlaceholder"></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- solved modal -->
  <div class="container">
    <div class="modal fade" id="results-modal" tabindex="-1" aria-labelledby="resultsModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">Puzzle Solved!!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="modal-time"></div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- main container -->
  <div class="game-container">

    <div class="d-flex justify-content-between">
      <div class="d-flex flex-row mb-3">
        <div class="flex-container">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#rules-modal">
            Rules
          </button>
        </div>

        <div class="flex-container">
          <!-- submit button -->
          <button id="submitButton" type="button" class="btn btn-primary" disabled="disabled">Submit</button>
        </div>

        <div class="flex-container" id="wrong-container">
          <p id="wrong-text"></p>
        </div>

        <div class="flex-container" id="results-container">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#results-modal">Results</button>
        </div>
      </div>

      <div class="timer">
        <label id="minutes">00</label>:<label id="seconds">00</label>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <!-- grid -->
      <div id="grid-box" class="grid-wrapper"></div>
      <!-- grid start overlay -->
      <div id='gameOverlay' class="game-overlay"></div>

      <div class="startButtonContainer">
        <!-- start button -->
        <button id="startButton" type="button" class="btn btn-primary btn-lg">Start</button>
      </div>
    </div>
  </div>

  <!-- Custom scripting -->
  <script src="{{url_for('static', filename='akari.js')}}"></script>

  <!-- Custom scripting -->
  <script src="{{url_for('static', filename='index.js')}}"></script>

{% endblock %}
